body {
  background: #0b0f1a;
  color: #00e5ff;
  font-family: Arial;
  text-align: center;
}

textarea {
  width: 80%;
  height: 200px;
  background: black;
  color: #00ff99;
  border: 1px solid #00e5ff;
}
